# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=35f446d02e934f5e964634c070875004
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20
    I:remoteThermalMonitorEnergyConsumption=1
}


