# Configuration file

entitiesalwaysinfernal {
    B:BabyHeatscarSpider=false
    B:BlueSlime=false
    B:EntityAbtu=false
    B:EntityAfrit=false
    B:EntityAirGuardian=false
    B:EntityAnt=false
    B:EntityArcaneGuardian=false
    B:EntityArix=false
    B:EntityBabaYaga=false
    B:EntityBlaze=false
    B:EntityBlizz=false
    B:EntityBossDragon=false
    B:EntityBrainyZombie=false
    B:EntityCaveSpider=false
    B:EntityChu=false
    B:EntityConcussionCreeper=false
    B:EntityCreeper=false
    B:EntityCreeperTot=false
    B:EntityCultistCleric=false
    B:EntityCultistKnight=false
    B:EntityDarkMage=false
    B:EntityDarkling=false
    B:EntityDireWolf=false
    B:EntityDragon=false
    B:EntityEarthElemental=false
    B:EntityEarthGuardian=false
    B:EntityEldritchCrab=false
    B:EntityEldritchGuardian=false
    B:EntityEnderCreeper=false
    B:EntityEnderTot=false
    B:EntityEnderman=false
    B:EntityEnderminy=false
    B:EntityEnt=false
    B:EntityEttin=false
    B:EntityFallenKnight=false
    B:EntityFireBat=false
    B:EntityFireElemental=false
    B:EntityFireGuardian=false
    B:EntityGhast=false
    B:EntityGhost=false
    B:EntityGhoulZombie=false
    B:EntityGiantBrainyZombie=false
    B:EntityGlob=false
    B:EntityHecate=false
    B:EntityHellCow=false
    B:EntityHellfish=false
    B:EntityHolyElemental=false
    B:EntityHornedHuntsman=false
    B:EntityIllusionCreeper=false
    B:EntityIllusionSpider=false
    B:EntityIllusionZombie=false
    B:EntityImp=false
    B:EntityInfestedVillager=false
    B:EntityInhabitedZombie=false
    B:EntityJabberwock=false
    B:EntityJungleSpider=false
    B:EntityKobold=false
    B:EntityLacedon=false
    B:EntityLepus=false
    B:EntityLobber=false
    B:EntityMagmaCube=false
    B:EntityManaCreeper=false
    B:EntityManaElemental=false
    B:EntityMandrake=false
    B:EntityMantekitty=false
    B:EntityMindSpider=false
    B:EntityMobAngryEnderman=false
    B:EntityMobBabyEnderman=false
    B:EntityMobBrainlessEnderman=false
    B:EntityMobEnderGuardian=false
    B:EntityMobFireGolem=false
    B:EntityMobScorchingLens=false
    B:EntityMummy=false
    B:EntityNatureGuardian=false
    B:EntityNightmare=false
    B:EntityPech=false
    B:EntityPhantom=false
    B:EntityPigZombie=false
    B:EntityPinkSlime=false
    B:EntityRaiko=false
    B:EntityReiver=false
    B:EntityRemobra=false
    B:EntityRoc=false
    B:EntityShambler=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySkylus=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntitySpirit=false
    B:EntitySpriggan=false
    B:EntityTFArmoredGiant=false
    B:EntityTFBlockGoblin=false
    B:EntityTFDeathTome=false
    B:EntityTFFireBeetle=false
    B:EntityTFGiantMiner=false
    B:EntityTFGoblinKnightLower=false
    B:EntityTFGoblinKnightUpper=false
    B:EntityTFHedgeSpider=false
    B:EntityTFHelmetCrab=false
    B:EntityTFHostileWolf=false
    B:EntityTFHydra=false
    B:EntityTFIceExploder=false
    B:EntityTFIceShooter=false
    B:EntityTFKingSpider=false
    B:EntityTFKobold=false
    B:EntityTFLich=false
    B:EntityTFLichMinion=false
    B:EntityTFMazeSlime=false
    B:EntityTFMiniGhast=false
    B:EntityTFMinoshroom=false
    B:EntityTFMinotaur=false
    B:EntityTFMistWolf=false
    B:EntityTFMosquitoSwarm=false
    B:EntityTFNaga=false
    B:EntityTFPinchBeetle=false
    B:EntityTFRedcap=false
    B:EntityTFRedcapSapper=false
    B:EntityTFSkeletonDruid=false
    B:EntityTFSlimeBeetle=false
    B:EntityTFSnowGuardian=false
    B:EntityTFSwarmSpider=false
    B:EntityTFTowerBroodling=false
    B:EntityTFTowerGhast=false
    B:EntityTFTowerGolem=false
    B:EntityTFTowerTermite=false
    B:EntityTFUrGhast=false
    B:EntityTFWinterWolf=false
    B:EntityTFWraith=false
    B:EntityTFYeti=false
    B:EntityTFYetiAlpha=false
    B:EntityTaintChicken=false
    B:EntityTaintCow=false
    B:EntityTaintCreeper=false
    B:EntityTaintPig=false
    B:EntityTaintSheep=false
    B:EntityTaintSpider=false
    B:EntityTaintSpore=false
    B:EntityTaintSporeSwarmer=false
    B:EntityTaintSwarm=false
    B:EntityTaintVillager=false
    B:EntityTaintacle=false
    B:EntityTaintacleSmall=false
    B:EntityThaumicSlime=false
    B:EntityTreefyd=false
    B:EntityTrent=false
    B:EntityWasp=false
    B:EntityWaterElemental=false
    B:EntityWaterGuardian=false
    B:EntityWinterGuardian=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitchHunter=false
    B:EntityWither=false
    B:EntityWitherCat=false
    B:EntityWitherWitch=false
    B:EntityZoataur=false
    B:EntityZombie=false
    B:HeatscarSpider=false
    B:KingBlueSlime=false
    B:NitroCreeper=false
    B:ReplicatorEntity=false
}


entitybasehealth {
    D:BabyHeatscarSpider=16.0
    D:BlueSlime=20.0
    D:EntityAbtu=7.0
    D:EntityAfrit=15.0
    D:EntityBrainyZombie=25.0
    D:EntityConcussionCreeper=22.0
    D:EntityCreeper=20.0
    D:EntityCultistCleric=30.0
    D:EntityCultistKnight=36.0
    D:EntityEldritchCrab=22.0
    D:EntityEnderCreeper=20.0
    D:EntityEnderman=40.0
    D:EntityEnderminy=20.0
    D:EntityEnt=15.0
    D:EntityFallenKnight=22.0
    D:EntityGhost=20.0
    D:EntityGiantBrainyZombie=60.0
    D:EntityInfestedVillager=4.0
    D:EntityInhabitedZombie=22.0
    D:EntityJabberwock=20.0
    D:EntityKobold=10.0
    D:EntityLacedon=20.0
    D:EntityLepus=80.0
    D:EntityLobber=80.0
    D:EntityMantekitty=20.0
    D:EntityMindSpider=2.0
    D:EntityPhantom=20.0
    D:EntityRoc=25.0
    D:EntitySkeleton=20.0
    D:EntitySkylus=20.0
    D:EntitySpider=16.0
    D:EntitySpirit=20.0
    D:EntitySpriggan=20.0
    D:EntityTFIceExploder=80.0
    D:EntityTFIceShooter=20.0
    D:EntityTFSnowGuardian=60.0
    D:EntityTFWinterWolf=8.0
    D:EntityTFYeti=20.0
    D:EntityTaintChicken=8.0
    D:EntityTaintPig=20.0
    D:EntityTaintSheep=40.0
    D:EntityTaintSpider=5.0
    D:EntityTaintSpore=1.0
    D:EntityTaintSporeSwarmer=75.0
    D:EntityTaintSwarm=30.0
    D:EntityTaintVillager=30.0
    D:EntityTaintacle=200.0
    D:EntityThaumicSlime=1.0
    D:EntityWitch=26.0
    D:EntityWither=330.0
    D:EntityWitherCat=14.0
    D:EntityWitherWitch=34.0
    D:EntityZoataur=20.0
    D:EntityZombie=20.0
    D:HeatscarSpider=50.0
    D:KingBlueSlime=100.0
    D:ReplicatorEntity=8.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=false
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=false
    B:"MM_Rust enabled"=false
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=false
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:BabyHeatscarSpider=true
    B:BlueSlime=false
    B:EntityAbtu=false
    B:EntityAfrit=false
    B:EntityAirGuardian=false
    B:EntityAnt=false
    B:EntityArcaneGuardian=false
    B:EntityArix=false
    B:EntityBabaYaga=false
    B:EntityBlaze=false
    B:EntityBlizz=false
    B:EntityBossDragon=true
    B:EntityBrainyZombie=true
    B:EntityCaveSpider=false
    B:EntityChu=false
    B:EntityConcussionCreeper=false
    B:EntityCreeper=false
    B:EntityCreeperTot=false
    B:EntityCultistCleric=false
    B:EntityCultistKnight=false
    B:EntityDarkMage=false
    B:EntityDarkling=false
    B:EntityDireWolf=false
    B:EntityDragon=false
    B:EntityEarthElemental=false
    B:EntityEarthGuardian=false
    B:EntityEldritchCrab=false
    B:EntityEldritchGuardian=false
    B:EntityEnderCreeper=false
    B:EntityEnderTot=false
    B:EntityEnderman=false
    B:EntityEnderminy=false
    B:EntityEnt=false
    B:EntityEttin=false
    B:EntityFallenKnight=false
    B:EntityFireBat=false
    B:EntityFireElemental=false
    B:EntityFireGuardian=false
    B:EntityGhast=false
    B:EntityGhost=false
    B:EntityGhoulZombie=false
    B:EntityGiantBrainyZombie=true
    B:EntityGlob=false
    B:EntityHecate=false
    B:EntityHellCow=false
    B:EntityHellfish=false
    B:EntityHolyElemental=false
    B:EntityHornedHuntsman=false
    B:EntityIllusionCreeper=false
    B:EntityIllusionSpider=false
    B:EntityIllusionZombie=false
    B:EntityImp=false
    B:EntityInfestedVillager=false
    B:EntityInhabitedZombie=false
    B:EntityJabberwock=false
    B:EntityJungleSpider=false
    B:EntityKobold=false
    B:EntityLacedon=false
    B:EntityLepus=false
    B:EntityLobber=false
    B:EntityMagmaCube=false
    B:EntityManaCreeper=false
    B:EntityManaElemental=false
    B:EntityMandrake=false
    B:EntityMantekitty=false
    B:EntityMindSpider=false
    B:EntityMobAngryEnderman=false
    B:EntityMobBabyEnderman=false
    B:EntityMobBrainlessEnderman=false
    B:EntityMobEnderGuardian=false
    B:EntityMobFireGolem=false
    B:EntityMobScorchingLens=false
    B:EntityMummy=false
    B:EntityNatureGuardian=false
    B:EntityNightmare=false
    B:EntityPech=false
    B:EntityPhantom=false
    B:EntityPigZombie=false
    B:EntityPinkSlime=false
    B:EntityRaiko=false
    B:EntityReiver=false
    B:EntityRemobra=false
    B:EntityRoc=false
    B:EntityShambler=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySkylus=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntitySpirit=false
    B:EntitySpriggan=false
    B:EntityTFArmoredGiant=false
    B:EntityTFBlockGoblin=false
    B:EntityTFDeathTome=false
    B:EntityTFFireBeetle=false
    B:EntityTFGiantMiner=false
    B:EntityTFGoblinKnightLower=false
    B:EntityTFGoblinKnightUpper=false
    B:EntityTFHedgeSpider=false
    B:EntityTFHelmetCrab=false
    B:EntityTFHostileWolf=false
    B:EntityTFHydra=false
    B:EntityTFIceExploder=false
    B:EntityTFIceShooter=false
    B:EntityTFKingSpider=false
    B:EntityTFKobold=false
    B:EntityTFLich=false
    B:EntityTFLichMinion=false
    B:EntityTFMazeSlime=false
    B:EntityTFMiniGhast=false
    B:EntityTFMinoshroom=false
    B:EntityTFMinotaur=false
    B:EntityTFMistWolf=false
    B:EntityTFMosquitoSwarm=false
    B:EntityTFNaga=false
    B:EntityTFPinchBeetle=false
    B:EntityTFRedcap=false
    B:EntityTFRedcapSapper=false
    B:EntityTFSkeletonDruid=false
    B:EntityTFSlimeBeetle=false
    B:EntityTFSnowGuardian=false
    B:EntityTFSwarmSpider=false
    B:EntityTFTowerBroodling=false
    B:EntityTFTowerGhast=false
    B:EntityTFTowerGolem=false
    B:EntityTFTowerTermite=false
    B:EntityTFUrGhast=false
    B:EntityTFWinterWolf=false
    B:EntityTFWraith=false
    B:EntityTFYeti=false
    B:EntityTFYetiAlpha=false
    B:EntityTaintChicken=false
    B:EntityTaintCow=false
    B:EntityTaintCreeper=false
    B:EntityTaintPig=false
    B:EntityTaintSheep=false
    B:EntityTaintSpider=false
    B:EntityTaintSpore=false
    B:EntityTaintSporeSwarmer=false
    B:EntityTaintSwarm=false
    B:EntityTaintVillager=false
    B:EntityTaintacle=false
    B:EntityTaintacleSmall=false
    B:EntityThaumicSlime=false
    B:EntityTreefyd=false
    B:EntityTrent=false
    B:EntityWasp=false
    B:EntityWaterElemental=false
    B:EntityWaterGuardian=false
    B:EntityWinterGuardian=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitchHunter=false
    B:EntityWither=true
    B:EntityWitherCat=false
    B:EntityWitherWitch=false
    B:EntityZoataur=false
    B:EntityZombie=false
    B:HeatscarSpider=true
    B:KingBlueSlime=false
    B:NitroCreeper=false
    B:ReplicatorEntity=false
}
