# Configuration file

##########################################################################################################
# balancing
#--------------------------------------------------------------------------------------------------------#
# Balancing tweaks
##########################################################################################################

balancing {
    # The Corruption Level needed to get to the full capabilities of the tools [range: 0 ~ 100000, default: 200]
    I:minimumCorruptionForTools=200

    # Blacklist for the teleposer.
    # Syntax is: modid:name:meta
    # modid = Unique ID of the block's mod.
    # name = The registered blockname.
    # meta = Metadata of the block. If none is shown, use 0. [default: [Sanguimancy:BlockItemSNPart:0], [Sanguimancy:BlockRitualRepresentation:0]]
    S:teleposerBlacklist <
        Sanguimancy:BlockItemSNPart:0
        Sanguimancy:BlockRitualRepresentation:0
     >

    # Blacklist for the transposition sigil.
    # Syntax is: modid:name:meta
    # modid = Unique ID of the block's mod.
    # name = The registered blockname.
    # meta = Metadata of the block. If none is shown, use 0. [default: [minecraft:bedrock:0]]
    S:transpositionSigilBlacklist <
        minecraft:bedrock:0
        Thaumcraft:blockAiry:0
        Thaumcraft:blockWarded:0
        Thaumcraft:blockCosmeticOpaque:2
        Thaumcraft:blockTable:*
        Thaumcraft:blockStoneDevice:2
        Thaumcraft:blockStoneDevice:7
        ThaumicTinkerer:bedrockPortal:0
        superMassiveTech:blackHole:0
        superMassiveTech:invisibleLight:0
        CarpentersBlocks:blockCarpentersSafe:*
        CarpentersBlocks:blockCarpentersDoor:*
        CarpentersBlocks:blockCarpentersBed:*
        IC2:blockPersonal:*
        TwilightForest:tile.TFBossSpawner:*
        TwilightForest:tile.TFTowerDevice:*
        TwilightForest:tile.TFTowerTranslucent:*
        ThermalExpansion:Strongbox:*
        Mystcraft:BlockDecay:*
        Mystcraft:BlockStarFissure:*
        Mystcraft:WritingDesk:*
        BuildCraft|Core:EternalSpring:*
        HardcoreEnderExpansion:instability_orb_ore:*
        AWWayOfTime:demonPortalMain:0
        HardcoreEnderExpansion:temple_end_portal:0
        Mystcraft:LinkPortal:0
        Sanguimancy:BlockDimensionPortal:0
        Thaumcraft:blockPortalEldritch:0
        Thaumcraft:blockEldritchNothing:0
        TwilightForest:TFPortal:0
        witchery:spiritportal:0
        witchery:tormentportal:0
        Mystcraft:BlockBookReceptacle:*
        Mystcraft:BlockBookstand:*
        Mystcraft:BlockLectern:*
        RandomThings:spectreBlock:*
        OpenComputers:robot:*
        ThermalExpansion:Strongbox:*
     >

    # The transposition sigil cost [range: 0 ~ 100000, default: 7500]
    I:transpositionSigilCost=7500
}


##########################################################################################################
# features
#--------------------------------------------------------------------------------------------------------#
# Configuring some mod features
##########################################################################################################

features {
    # The ID of the Add Heart Potion [range: 20 ~ 127, default: 115]
    I:addHeartPotionID=150

    # Give the player a guide and a Soul Chunk claimer on first login [default: true]
    B:addItemsOnFirstLogin=false

    # Allow the teleposing of the SN Manifestations [default: true]
    B:canTeleposeManifestations=true
    B:messageWhenCorruptionEffect=true

    # Send a message to the player when a corruption effect occurs [default: false]
    B:playerMessageWhenCorruptionEffect=false

    # The ID of the Remove  Heart Potion [range: 20 ~ 127, default: 116]
    I:removeHeartPotionID=151

    # Render the Silly Flapping Fish or not [default: true]
    B:renderSillyAprilFish=true

    # Send a message to the whole server when a corruption effect occurs [default: true]
    B:serverMessageWhenCorruptionEffect=true

    # The ID of the Soul Network Dimension [range: 2 ~ 500, default: 42]
    I:soulNetworkDimensionID=42
}


##########################################################################################################
# rituals
#--------------------------------------------------------------------------------------------------------#
# All things pertaining to rituals
##########################################################################################################

rituals {
    # Enable the Builder [default: true]
    B:enableAltarBuilder=true

    # Enable the Drill of the Dead [default: true]
    B:enableDrillOfTheDead=true

    # Enable the Timberman [default: true]
    B:enableFelling=true

    # Enable the Enlightenment [default: true]
    B:enableIllumination=true

    # Enable the Filler [default: true]
    B:enablePlacer=true

    # Enable the Gate of the Fold [default: true]
    B:enablePortal=true

    # Enable the Hymn of Syphoning [default: true]
    B:enablePump=true
    B:enableQuarry=true

    # Enable the Great Deletion [default: true]
    B:enableTrash=true

    # Enable the Vulcanos Frigius [default: true]
    B:enableVulcanosFrigius=true
}


