# Configuration file

##########################################################################################################
# balancing
#--------------------------------------------------------------------------------------------------------#
# Balancing tweaks
##########################################################################################################

balancing {
    B:firstClaimedChunkForFree=true
    I:minimumCorruptionForTools=200
}


##########################################################################################################
# features
#--------------------------------------------------------------------------------------------------------#
# Allows disabling of almost all features of the mod.
##########################################################################################################

features {
    I:addHeartPotionID=100
    B:messageWhenCorruptionEffect=true
    I:removeHeartPotionID=101
    I:soulNetworkDimensionID=42
}


##########################################################################################################
# rituals
#--------------------------------------------------------------------------------------------------------#
# All things pertaining to rituals
##########################################################################################################

rituals {
    B:enableDrillOfTheDead=true
    B:enableFelling=true
    B:enableIllumination=true
    B:enablePlacer=true
    B:enablePortal=true
    B:enablePump=true
    B:enableQuarry=true
    B:enableTrash=true
    B:enableVulcanosFrigius=true
}


