# Configuration file

##########################################################################################################
# gt_metaitem_02_32100;32100
#--------------------------------------------------------------------------------------------------------#
# Purple Drink
##########################################################################################################

"gt_metaitem_02_32100;32100" {
    B:enabled=true
    I:max_spawn_count=16
    I:min_spawn_count=8
    I:spawn_weight=2
}


##########################################################################################################
# ic2_itemtreetap;0
#--------------------------------------------------------------------------------------------------------#
# Treetap
##########################################################################################################

"ic2_itemtreetap;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_apple;0
#--------------------------------------------------------------------------------------------------------#
# Apple
##########################################################################################################

"item_apple;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=2
    I:spawn_weight=5
}


##########################################################################################################
# item_bread;0
#--------------------------------------------------------------------------------------------------------#
# Bread
##########################################################################################################

"item_bread;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_flippers;0
#--------------------------------------------------------------------------------------------------------#
# Flippers
##########################################################################################################

"item_flippers;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_hatchetstone;0
#--------------------------------------------------------------------------------------------------------#
# Stone Axe
##########################################################################################################

"item_hatchetstone;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_hatchetwood;0
#--------------------------------------------------------------------------------------------------------#
# Wooden Axe
##########################################################################################################

"item_hatchetwood;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_infitool_broadsword;0
#--------------------------------------------------------------------------------------------------------#
# Broadsword
##########################################################################################################

"item_infitool_broadsword;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=0
    I:spawn_weight=10
}


##########################################################################################################
# item_items_broom;0
#--------------------------------------------------------------------------------------------------------#
# Broom
##########################################################################################################

"item_items_broom;0" {
    B:enabled=true
    I:max_spawn_count=2
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_lexicon;0
#--------------------------------------------------------------------------------------------------------#
# Lexica Botania
##########################################################################################################

"item_lexicon;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=7
}


##########################################################################################################
# item_openblocks_paintbrush;0
#--------------------------------------------------------------------------------------------------------#
# Paint Brush
##########################################################################################################

"item_openblocks_paintbrush;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_pickaxestone;0
#--------------------------------------------------------------------------------------------------------#
# Stone Pickaxe
##########################################################################################################

"item_pickaxestone;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=3
}


##########################################################################################################
# item_pickaxewood;0
#--------------------------------------------------------------------------------------------------------#
# Wooden Pickaxe
##########################################################################################################

"item_pickaxewood;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# item_stick;0
#--------------------------------------------------------------------------------------------------------#
# Stick
##########################################################################################################

"item_stick;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_wadingboots;0
#--------------------------------------------------------------------------------------------------------#
# Wading Boots
##########################################################################################################

"item_wadingboots;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_blocks_boxofeternalclosure;0
#--------------------------------------------------------------------------------------------------------#
# Box of Eternal Closure
##########################################################################################################

"tile_blocks_boxofeternalclosure;0" {
    B:enabled=true
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_log_acacia;0
#--------------------------------------------------------------------------------------------------------#
# Acacia Wood
##########################################################################################################

"tile_log_acacia;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# tile_log_oak;0
#--------------------------------------------------------------------------------------------------------#
# Oak Wood
##########################################################################################################

"tile_log_oak;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# tile_wood_oak;0
#--------------------------------------------------------------------------------------------------------#
# Oak Wood Planks
##########################################################################################################

"tile_wood_oak;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=10
}


