# Configuration file

##########################################################################################################
# item_arrow;0
#--------------------------------------------------------------------------------------------------------#
# Arrow
##########################################################################################################

"item_arrow;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=2
    I:spawn_weight=30
}


##########################################################################################################
# item_fireball;0
#--------------------------------------------------------------------------------------------------------#
# Fire Charge
##########################################################################################################

"item_fireball;0" {
    B:enabled=true
    I:max_spawn_count=8
    I:min_spawn_count=2
    I:spawn_weight=30
}


##########################################################################################################
# item_items_broom;0
#--------------------------------------------------------------------------------------------------------#
# Broom
##########################################################################################################

"item_items_broom;0" {
    B:enabled=true
    I:max_spawn_count=2
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_mfr_safarinet_singleuse;0
#--------------------------------------------------------------------------------------------------------#
# Safari Net (Single-Use)
##########################################################################################################

"item_mfr_safarinet_singleuse;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=25
}


##########################################################################################################
# tile_blocks_boxofeternalclosure;0
#--------------------------------------------------------------------------------------------------------#
# Box of Eternal Closure
##########################################################################################################

"tile_blocks_boxofeternalclosure;0" {
    B:enabled=true
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=5
}


